
<h1>{{req.params.drink.category}}</h1>


{{#each drinks}}
    
<br>
<section class="drinks">
        <h2>{{this.name}}</h2>
        <h4>{{this.description}}</h4>
        <h6>{{this.rating}}</h6>
        <h4>{{this.brewer}}</h4>
        <a href="">More Details</a>
</section>

{{/each}}