<div class="px-5 my-5 bg-dark">
<div class="card " style="width: 30rem;">
  <img src={{drinks.image}} class="card-img-top image-fluid" alt="image">
  <div class="card-body bg-danger">
    <h5 class="card-title">{{drinks.name}}</h5>
    <p class="card-text">{{drinks.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Company : {{drinks.brewer}}</li>
    <li class="list-group-item">Rating : {{drinks.rating}} out of 10</li>
    <li class="list-group-item">Category : {{drinks.category}}</li>
  </ul>
  <div class="card-body">



    {{#if isAdmin}}

<div class="vstack gap-2 col-md-5 mx-auto">
 <form action="/drinks/{{drinks._id}}/delete" method="POST">
  <button class="btn btn-outline-secondary border border-danger"> Delete </button>
  </form>
</div>
  
    {{/if}}


<div class="vstack gap-2 col-md-5 mx-auto">
<a href="/drinks/{{drinks._id}}/edit"> <button type="button" class="btn btn-outline-secondary border border-success"> Edit </button> </a> 

</div>
</div>
</div>
</div>