
<div class="card" style="width: 18rem;">
  <img src={{drinks.image}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{drinks.name}}</h5>
    <p class="card-text">{{drinks.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{drinks.brewer}}</li>
    <li class="list-group-item">{{drinks.rating}} out of 10</li>
    <li class="list-group-item">{{drinks.category}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
<form action="/drinks/{{drinks._id}}/delete" method="POST">
  <button type="submit">Delete</button>
</form>  
</div>
</div>
